/**
 * 这里定义项目的所有颜色相关变量
 *
 * @Author: Cphayim 
 * @Date: 2017-10-16 16:34:09 
 * @Last Modified by: Cphayim
 * @Last Modified time: 2018-05-04 15:24:18
 */


$c_p:  #54b4ef;     // 主色
$c_bg:  #f6f6f6;    // 背景色
$c_em:    #f35833;  // 强调色
$c_b:     #f0f0f0;  // 边框颜色
$c_f1:    #333;     // 一级文字颜色
$c_f2:    #666;     // 二级文字颜色
$c_f3:    #999;     // 三级文字颜色